

*{
  font-family: 'DotGothic16','Courier New', Courier, monospace;
  font-size: large;
}

.title{
  font-size: x-large
}


a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}




#game {
  width: 870px;
  height: 200px;
  border: 1px solid black;
}

#character {
  width: 50px;
  height: 50px;
  background-color: black;
  position: relative;
  top: 150px;
}

.animate {
  animation: jump 750ms;

}

#block {
  width: 50px;
  height: 48px;
  background-color: rgb(254, 254, 254);
  border-style: solid;
  border-color: black;
  position: relative;
  top: 100px;
  left: 850px;
  animation: block 2s infinite linear;
}

@keyframes block {
  0% {left: 850px;}
  100% {left: 0px;}
}

@keyframes jump {
  0% {top: 150px;}
  30% {top: 50px;}
  70% {top: 50px;}
  100% {top: 150px;}
}
